<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.PostgreSQL95Dialect
        </property>
        <property name="connection.url">jdbc:postgresql://localhost:5433/DB_web_bookstore</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">s02170065</property>
        <property name="show_sql">true</property>
        <mapping class="models.Book"/>
        <mapping class="models.User"/>
        <mapping class="models.Author"/>
        <mapping class="models.Basket_customer"/>
        <mapping class="models.Basket_order"/>
        <mapping class="models.Order"/>
        <mapping class="models.Book_author"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>